/* Stylesheet */

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html, body {
    margin-left:auto;
    margin-right: auto;
    padding:0;
    width:99%;
    height:100%;
    font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.container {
    width:99%;
    padding: 0 8px;
}

.column {
    width:32%;
    float:left;
    padding: 0 6px;
}

.my-notify-info, .my-notify-success, .my-notify-warning, .my-notify-error {
    padding:10px;
    margin:10px 0;
}
.my-notify-info:before, .my-notify-success:before, .my-notify-warning:before, .my-notify-error:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.my-notify-info:before {
    content:"\f05a";
}
.my-notify-success:before {
    content:'\f00c';
}
.my-notify-warning:before {
    content:'\f071';
}
.my-notify-error:before {
    content:'\f057';
}
.my-notify-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.my-notify-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.my-notify-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.my-notify-error {
    color: #D8000C;
    background-color: #FFBABA;
}

#headerMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009933;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);
}

#headerMenu li {
    float: left;
}

#headerMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px dotted white;
}

#footer {
    margin: 0;
    padding: 0;
    background-color: #009933;
    border-radius: 3px;
}

#footer p {
    color: white;
    padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
#headerMenu li a:hover {
    background-color: #111;
}

.simple-input {
    display: block;
    padding: 5px;
    border: 4px solid #009933;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-out;
}

.simple-input:hover {
    border-radius: 8px
}

.simple-input:focus {
    outline: none;
    border-radius: 8px;
    border-color: #33ff77;
}

.modern {
  display: inline-block;
  margin: 4px;
  padding: 6px 12px;
  background: #00cc44;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
}

.modernProfile {
  display: inline-block;
  margin: 4px;
  padding: 6px 12px;
  background: #ff6600;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
}

.modern:hover  { background: #33ff77; }

.modernProfile:hover  { background: #ffa366; }

#meter div {
    height: 20px;
    width: 20px;
    margin: 0 1px 0 0;
    padding: 0;
    float: left;
    background-color: #DDDDDD;
}

#meter div.rating-1, #meter div.rating-2 {
    background-color: red;
}

#meter div.rating-3, #meter div.rating-4 {
    background-color: orange;
}

#meter div.rating-5, #meter div.rating-6 {
    background-color: yellow;
}

#meter div.rating-7, #meter div.rating-8 {
    background-color: blue;
}

#meter div.rating-9, #meter div.rating-10 {
    background-color: green;
}